{% load staticfiles %}

<html>
	<head>
		<title>Plant Mom</title>
		<link rel="stylesheet" href="{% static 'css/plant_mom.css' %}" />
	</head>
	<body>
		<h1>Plant Mom</h1>
		<nav>
			<a href="/">Plants</a>
			<a href="{% url 'plant_create' %}">New Plant</a>
			<div class="user-info">
				{% if user.is_authenticated %} Welcome, {{ user.username }}
				<a href="{% url 'logout' %}">Log out</a>
				{% else %}
				<a href="{% url 'login' %}">Login</a>
				<a href="{% url 'signup' %}">Signup</a>
				{% endif %}
			</div>
		</nav>
		{% block content %} {% endblock %}
	</body>
</html>
