{% extends 'plant_mom/base.html' %} {% block content %}

<h2>{{ plant.name }} <a href="{% url 'plant_edit' pk=plant.pk %}">(edit)</a></h2>
<h4>{{ plant.description }}</h4>

<img src="{{ plant.photo_url }}" alt="" class="plant-photo" />
<p>{{ plant.care_tips }}</p>
<p>Read more 
  <a href="{{ plant.link }}" target="_blank">here</a>.
</p>
</ul>

<form action="/plants/{{ plant.id }}/delete" method="POST">
  {% csrf_token %}
  <input type="submit" value="Delete {{ plant.name }}" />
</form>
{% endblock %}
